{
  "presets": ["module:metro-react-native-babel-preset"],
  "sourceMaps": "inline",
  "plugins": [
    "inline-dotenv",
    "transform-inline-environment-variables",
  	["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
